body{
    margin-left: 20px;
    border-style: solid;
    width:700px;
    margin-left: 200px;
    margin-top: 50px;
    
}

.top{
    padding-left: 20px;

}
.sky{

}

.bottom{
    display:flex;
    
    
  }
  .smk{
    margin:1px;
    background-color:violet;
    width:400px;
    height:250px;
    padding-left: 20px;
   
    
    
  }
  .money{
      display: flex;
  }
  h5{
      margin-top: 30px;
      margin-left:10px ;
  }

  a{
      text-decoration: none;
      border-style: solid;
      margin-left:60px;
      background-color: wheat;
  }